<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Funnymovie</a>
    <form class="d-flex">
      <input class="form-control me-2" type="text" placeholder="username" aria-label="Search">
      <input class="form-control me-2" type="password" placeholder="password" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Login/Register</button>
    </form>
  </div>
</nav>